<!DOCTYPE html>
<html>

<head>
    <!-- Title -->
    <title>Thanks, Donnie! </title>
    <!-- Meta Data -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="height=device-height, initial-scale=1" />
    <meta name="description" content="Joseph Mielzarek, web developer, designer and all-around problem solver working in the Twin Cities of Minnesota." />
    <meta property="og:site_name" content="Joseph Mielzarek" />
    <meta property="og:title" content="Joseph Mielzarek" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://jsphmlzrk.com/" />
    <meta property="og:image" content="https://s3.postimg.org/ry90oyo6r/Joe.png" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="icon" type="image/gif" href="/assets/animated_favicon1.gif">
    <!-- Styles & Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,500i" rel="stylesheet">
    <link rel="stylesheet" href="/styles/thanksstylesheet.css" />
    <!-- Scripts -->
    <script src="/vendors/jquery.min.js"></script>
    <script src="/scripts/thanks.js"></script>
</head>

<body>
    <div class="raw">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                </div>
                <div class="back">
                    <h5 class="thanksHeader">Thanks, Donnie!</h5>
                    <p class="thanksNote">
                        I really appreciated you talking the time out of your busy schedule to meet with me this morning. I hope I have the opportunity to chat with you further. I look forward to next steps regarding the Front End Designer position.
                    </p>
                </div>
            </div>
        </div>
        <h6>hover or click to reveal</h6>

        <p class="footer">A personal thank you from <a href="http://www.jsphmlzrk.com" target="_blank">Joe Mielzarek</a>. &copy 2016 </p>


</body>

</html>
