<!DOCTYPE html>
<html>

<head>
    <!-- Title -->
    <title>Hire Joe. </title>
    <!-- Meta Data -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="height=device-height, initial-scale=1" />
    <meta name="description" content="Joseph Mielzarek, web developer, designer and all-around problem solver working in the Twin Cities of Minnesota." />
    <meta property="og:site_name" content="Joseph Mielzarek" />
    <meta property="og:title" content="Joseph Mielzarek" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://jsphmlzrk.com/" />
    <meta property="og:image" content="https://s3.postimg.org/ry90oyo6r/Joe.png" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="icon" type="image/gif" href="/assets/animated_favicon1.gif">
    <!-- Styles & Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <link rel="stylesheet" href="/styles/lakanastylesheet.css" />
    <!-- Scripts -->
    <script src="/vendors/jquery.min.js"></script>
    <script src="/scripts/lakanaapp.js"></script>
</head>

<body class="no-touch">
    <div class="container">
        <div class="header">
            <h1 class="textTitle">LAKANA CHALLENGE</h1>
            <a href="http://www.jsphmlzrk.com/lakana"><img class="bug" src="http://www.lakana.com/assets/img/logo-bug.png" /></a>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="challenge">
            <div class="challengebox">
                <h1>ASSIGNMENT</h1>
                <h5>Choose one or more thing(s) from any of the sites you frequent, and share how you would improve it.</h5>
                <div class="divider"></div>
                <a href="#site"><img class="down" src="https://s18.postimg.org/6fxc5hw2x/noun_149006_cc.png" /></a>
            </div>
        </div>
        <A NAME="site">
            <div class="selection">
                <div class="selectionbox">
                    <h1>THE SITE</h1>
                    <h5>Ever since I got my start in design, and later into advertising, I've always had an attraction to great branding and identities.</h5>
                    <h5>This led me to the site Brand New by UnderConsideration.</h5>
                    <div class="divider"></div>
                    <a href="#brandnew"><img class="down" src="https://s18.postimg.org/6fxc5hw2x/noun_149006_cc.png" /></a>
                </div>
            </div>
            <A NAME="brandnew">
                <div class="challenge">
                    <div class="challengebox">
                        <a href="http://www.underconsideration.com/brandnew/#.V7-aaJMrKRs" target="_blank"><img class="full" src="https://s16.postimg.org/bn2md41d1/macbook_brand_new_mockup.png" /></a>
                        <div class="divider"></div>
                        <a href="#problem"><img class="down2" src="https://s18.postimg.org/6fxc5hw2x/noun_149006_cc.png" /></a>
                    </div>
                </div>
                <A NAME="problem">
                    <div class="selection">
                        <div class="selectionbox">
                            <h1>THE PROBLEM</h1>
                            <h5>While the Brand New desktop site is fairly easy to navigate the mobile site is another story. </h5>
                            <a href="http://www.underconsideration.com/brandnew/#.V7-aaJMrKRs" target="_blank"><img class="old" src="https://s9.postimg.org/5nlm7duqn/Brand_New_Mockup_iphone_old.png" /></a>
                            <div class="divider"></div>
                            <a href="#solution"><img class="down" src="https://s18.postimg.org/6fxc5hw2x/noun_149006_cc.png" /></a>
                        </div>
                    </div>
                    <A NAME="solution">
                        <div class="selection">
                            <div class="selectionbox">
                                <h1>THE SOLUTION</h1>
                                <h5>By eliminating clutter and focusing on content, users see what they want right away. </h5>
                                <img class="new" src="https://s9.postimg.org/th76dsmq7/Brand_New_Mockup_iphone_new.png" />
                                <img class="new2" src="https://s10.postimg.org/la9r9zjih/Brand_New_Mockup_iphone_new2.png" />
                                <div class="divider"></div>
                                <a href="#mockup"><img class="down" src="https://s18.postimg.org/6fxc5hw2x/noun_149006_cc.png" /></a>
                            </div>
                        </div>
                        <A NAME="mockup">
                            <div class="challenge">
                                <div class="challengebox">
                                    <img class="full" src="https://s13.postimg.org/67zq78xtj/3up_Brand_New_iphone_new.png" />
                                    <div class="divider"></div>
                                </div>
                            </div>
                            <!-- /#wrap -->
                            <br />
                            <br />
                            <br />
                            <p class="footer">Another custom site from Joseph Mielzarek. &copy 2016 </p>

    </div>

</body>

</html>
